<link rel='stylesheet' href='/css/reviews.css'>
{{#if posts}}
{{#each posts}}
<div class='container'>
<div class="container-rew">
  {{!-- <img src="avatar_g2.jpg" alt="Avatar" style="width:90px"> --}}
  <p><i>"{{this.text}}"</i></p>
  <p><span>{{this.email}},</span> {{this.author}}</p>
  <div>
    <span>{{this.dateCmy}}</span>
    <span>{{this.dateTime}}</span>
  </div>
</div>
</div>
{{/each}}
{{else}}
<div class="wrapper">
  <h3>У вас пока нет сообщений</h3>
</div>
{{/if}}
